@font-face {
  font-family: Pottery;
  src: url('/assets/fonts/pottery_gifts.ttf');
}

@font-face {
  font-family: Visby;
  src: url('/assets/fonts/VisbyCF-Medium.otf');
}

.pottery-font {
  font-family: Pottery;
}

.visby-font {
  font-family: Visby;
}

.logo-icon {
  font-weight: bold;
}

.custom-pink-bg {
  background-color: #b13d55;
}

.custom-melon-bg {
  background-color: #516c6b;
}

.custom-blue-bg {
  background-color: #669b9a;
}

.custom-pink-font {
  color: #b13d55;
}

.custom-melon-font {
  color: #516c6b;
}

.paris-font {
  font-family: 'Parisienne', cursive;
}

.git-link {
  color: black;
  text-decoration: none;
}

.git-link:hover {
  color: black;
}

.hero-logo {
  width: 15% !important;
}

.hero-page {
  background: url(../assets/img/hero-bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-button > a:hover {
  background-color: #bf5b75;
  color: #f9f6ee;
}

.insta-link {
  color: black;
  text-decoration: none;
}

.insta-link:hover {
  color: #bf5b75;
}

.gabiwhite-bg {
  background-color: #f9f6ee;
}

.whitesmoke-bg {
  background-color: whitesmoke;
}

@media (max-width: 767.98px) {
    .gabi-logo {
        width: 35% !important;
    }
}
