body {
  background-image: none;
  background-color: #F9F6EE;
}

.custom-pink-bg {
    background-color: #B13D55;
}

.custom-melon-bg {
    background-color: #516C6B;
}

.custom-blue-bg {
    background-color: #669b9a;
}

.paris-font {
    font-family: 'Parisienne', cursive;
}

@media (min-width: 576px) {
    #hero-img {
        margin-top: 0;
        width: 50%;
    }
}

#hero-img {
    margin-top: 1em;
}
